.place__title {
    grid-row: 1;
    grid-column: 1;
    font-size: 70px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1280px) {
    .place__title {
        grid-row: 1;
        grid-column: 1;
    }
}

@media screen and (max-width: 1024px) {
    .place__title {
        font-size: 42px;
        grid-row: 1;
        grid-column: 1;
    }
}
@media screen and (max-width: 768px) {
    .place__title {
        font-size: 32px;
        grid-row: 1;
        grid-column: 1;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        font-size: 32px;
        grid-row: 1;
        grid-column: 1;
    }
}