.cover__subtitle {
    position: relative;
    width: 360px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    z-index: 2;
}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        width: 288px;
        font-size: 14px;
    }

}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        width: 288px;
        font-size: 14px;
    }
}
