.place__text {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 163%;
    padding-bottom: 26px;
    text-align: left;
}

.place__text:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 1023px) {
    .place__text {
        font-size: 16px;
    }
}

