.intro{
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    padding: 92px 148px 0;
}

@media screen and (max-width: 1280px) {
    .intro {
        padding: 92px 48px 0;
    }
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 705px;
        margin: 0 auto;
        padding: 88px 24px 0;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        width: 288px;
        margin: 0 auto;
        padding: 64px 16px 0;
    }
}

