.cover__title{
    position: relative;
    width: 560px;
    margin: 0 auto;
    font-size: 72px;
    text-align: center;
    z-index: 2;
}

@media screen and (max-width: 1024px) {
    .cover__title{
        font-size: 72px;
        line-height: 76px;
    }
}
@media screen and (max-width: 768px) {
    .cover__title{
        font-size: 32px;
        line-height: 35px;
        width: 280px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title{
        font-size: 32px;
        line-height: 35px;
        width: 280px;
    }
}
